@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
  --DarkGray: hsl(0, 0%, 59%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--DarkCyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  padding: 30px;
}

.wrapper {
  background-color: white;
  width: 380px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(126, 126, 126, 0.603);
}

.wrapper img.banner {
  width: 100%;
}

.wrapper .picture {
  display: flex;
  justify-content: center;
  margin-top: -55px;
}

.wrapper .picture img {
  border-radius: 60px;
  border: 6px solid white;
}

.wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .content ul {
  list-style: none;
  display: flex;
  gap: 0.8em;
  margin-top: 20px;
}

.wrapper .content li {
  font-weight: 700;
  font-size: 1.2em;
  color: var(--VeryDarkDesaturatedBlue);
}

.wrapper .content li span {
  font-weight: 400;
  color: var(--DarkGrayishBlue);
}

.wrapper .content p {
  margin-top: 10px;
  color: var(--DarkGrayishBlue);
}

hr {
  border: none;
  background-color: var(--DarkGray);
  height: 1px;
  margin-top: 30px;
  opacity: 0.3;
}

.wrapper .content2 {
  display: flex;
  justify-content: space-evenly;
}

.wrapper .content2 ul {
  list-style: none;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.wrapper .content2 li {
  font-weight: 700;
  color: var(--VeryDarkDesaturatedBlue);
  font-size: 1.3em;
}

.wrapper .content2 li span {
  font-weight: 400;
  color: var(--DarkGrayishBlue);
  font-size: 0.6em;
}
